<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Genericão Fotos</title>
</head>
<body>
    <header>
        <h1>Blog Genericão</h1>
        <h2>Um blog sobre qualquer coisa, to só testando mesmo!</h2>

    </header>
    <nav id='menu'>
        <ul>
            <li><a href="">Pagina inicial</a></li>
            <li><a href="">Fotos</a></li>
            <li><a href="">Videos</a></li>
            <li><a href="">Curiosidades</a></li>
            <li><a href="">Loja Virtual</a></li>
            <li><a href="">Sugestões</a></li>
        </ul>
    </nav>
</body>
</html>